[Desktop Entry]
Comment=Old Breeze 5.7 Splash Screen
Comment[de]=alter Breeze 5.7 Splash Screen
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[de]=Desktop;Arbeitsfläche;Erscheinungsbild;Erscheinungsbild und Verhalten;Abmelden;Sperren;Standby;Ruhezustand;Tiefschlaf;Herunterfahren;
Keywords[x-test]=xxDesktopxx;xxWorkspacexx;xxAppearancexx;xxLook and Feelxx;xxLogoutxx;xxLockxx;xxSuspendxx;xxShutdownxx;xxHibernatexx;
Name=Breeze-5.7
Name[de]=Breeze-5.7

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Matthias Mueller
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.me.breeze-old.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
